.navbar {
  background-color: var(--primary-color);
  box-shadow: 0 2px 10px var(--shadow-color);
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-radius: 10px;
  margin-bottom: 30px;
  transition: background-color 0.3s ease;
}

.navbar-logo {
  font-size: 26px;
  font-weight: bold;
  color: var(--secondary-color);
}

.navbar-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-nav li {
  margin: 0 16px;
}

.navbar-nav a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.nav-icon {
  margin-right: 8px;
  font-size: 1.2em;
}

.navbar-nav a:hover {
  background-color: var(--hover-color);
}

.navbar-profile {
  display: flex;
  align-items: center;
}

.navbar-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.navbar-profile span {
  font-size: 16px;
}
